
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Game List
                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <i data-feather="home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">Digital</li>
                    <li class="breadcrumb-item active">Product List</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <form class="form-inline search-form search-box">
                        <div class="form-group">
                            <input class="form-control-plaintext" type="search" placeholder="Search..">
                        </div>
                    </form>

                    <a asp-controller="Game" asp-action="Upsert" class="btn btn-primary mt-md-0 mt-2">
                        Add New
                        Game
                    </a>
                </div>

                <div class="card-body">
                    <div class="table-responsive table-desi">
                        <table class="table list-digital all-package table-category "
                               id="tblData">
                            <thead>
                                <tr>
                                    @* <th>ID</th> *@
                                    <th>Game Image</th>
                                    <th>Game Name</th>
                                    <th>Genre</th>
                                    <th>Platform</th>
                                    <th>Stocks</th>
                                    <th>Available</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                @* <tr>
                                    <td>31</td>

                                    <td>
                                        <img src="assets/images/digital-product/web-dev.jpg"
                                             data-field="image" alt="">
                                    </td>

                                    <td data-field="name">Website</td>

                                    <td data-field="price">Add</td>

                                    <td data-field="name">5</td>

                                    <td>
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-edit" title="Edit"></i>
                                        </a>

                                        <a href="javascript:void(0)">
                                            <i class="fa fa-trash" title="Delete"></i>
                                        </a>
                                    </td>
                                </tr> *@

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->

@section Scripts{
    @{
        <script src="~/jsfiles/game.js"></script>
    }
}