@model RegisterVM
<div class="page-body">
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>
                            Create User
                            <small>Multikart Admin panel</small>
                        </h3>
                    </div>
                </div>
                @await Component.InvokeAsync("Breadcrumbs")
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card tab2-card">
                    <div class="card-body">
                        <ul class="nav nav-tabs tab-coupon" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" id="account-tab"
                                   data-bs-toggle="tab" href="#account" role="tab" aria-controls="account"
                                   aria-selected="true" data-original-title="" title="">Account</a>
                            </li>
                            @*  <li class="nav-item">
                            <a class="nav-link" id="permission-tabs"
                            data-bs-toggle="tab" href="#permission" role="tab"
                            aria-controls="permission" aria-selected="false" data-original-title=""
                            title="">Permission</a>
                            </li> *@
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade active show" id="account" role="tabpanel"
                                 aria-labelledby="account-tab">
                                <form method="post" class="needs-validation user-add" novalidate="">
                                    <h4>Account Details</h4>
                                    @*   <div class="form-group row">
                                    <label for="validationCustom0"
                                    class="col-xl-3 col-md-4"><span>*</span> First Name</label>
                                    <div class="col-xl-8 col-md-7">
                                    <input class="form-control" id="validationCustom0" type="text"
                                    required="">
                                    </div>
                                    </div>
                                    <div class="form-group row">
                                    <label for="validationCustom1"
                                    class="col-xl-3 col-md-4"><span>*</span> Last Name</label>
                                    <div class="col-xl-8 col-md-7">
                                    <input class="form-control" id="validationCustom1" type="text"
                                    required="">
                                    </div>
                                    </div> *@
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    <div class="form-group row">
                                        <label for="validationCustom2"
                                               class="col-xl-3 col-md-4"><span>*</span> Email</label>
                                        <div class="col-xl-8 col-md-7">
                                            <input asp-for="Email" class="form-control" id="validationCustom2" type="text"
                                                   required="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom3"
                                               class="col-xl-3 col-md-4"><span>*</span> Password</label>
                                        <div class="col-xl-8 col-md-7">
                                            <input asp-for="Password" class="form-control" id="validationCustom3"
                                                   type="password" required="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom4"
                                               class="col-xl-3 col-md-4">
                                            <span>*</span> Confirm
                                            Password
                                        </label>
                                        <div class="col-xl-8 col-md-7">
                                            <input asp-for="ConfirmPassword" class="form-control" id="validationCustom4"
                                                   type="password" required="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom4"
                                               class="col-xl-3 col-md-4">
                                            <span>*</span> Select Role
                                        </label>
                                        <div class="col-xl-3 col-md-4">
                                            <select asp-for="Role" asp-items="@Model.RoleList" class="form-control">
                                                <option disabled selected>--Select Role--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-primary">Create</button>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
